<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Додаток по продажу авто</title>
</head>
<body>
<div class="container">
    <div th:insert="menu"></div>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Додати оголошення
            </div>
            <div class="card-body">
                <form th:action="@{/add}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="text">Опис</label>
                        <input type="text" class="form-control" placeholder="Детальний опис авто" name="text" id="text" required>
                    </div>
                    <div class="form-group">
                        <label for="file">Фото</label>
                        <input type="file" class="form-control" name="file" id="file">
                    </div>
                    <div class="form-group">
                        <label for="price">Ціна, грн</label>
                        <input type="text" class="form-control" name="price" id="price" required>
                    </div>
                    <div class="form-group">
                        <label for="year">Рік випуску</label>
                        <input type="text" class="form-control" name="year" id="year" required>
                    </div>
                    <div class="form-group">
                        <label for="kilometer">Пробіг, км</label>
                        <input type="text" class="form-control" name="kilometer" id="kilometer" required>
                    </div>
                    <div class="form-group">
                        <label for="brand.id">Марка</label>
                        <select class="form-control" id="brand.id" name="brand.id">
                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="body.id">Кузов</label>
                        <select class="form-control" id="body.id" name="body.id">
                            <option th:each="body : ${bodies}" th:value="${body.id}" th:text="${body.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="engine.id">Двигун</label>
                        <select class="form-control" id="engine.id" name="engine.id">
                            <option th:each="engine : ${engines}" th:value="${engine.id}" th:text="${engine.name}"></option>
                        </select>
                    </div>
                    <input type="hidden" name="sale" value=true>
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>