<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Додаток по продажу авто</title>
</head>
<body>
<div class="container">
    <div th:insert="menu"></div>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <div class="clearfix">
                    <img th:width="250" th:high="250" th:src="@{|/photoPost/${post.id}|}">
                    <p>
                        <span th:text="${post.text}" />
                    </p>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Ціна, грн</th>
                            <th scope="col">Дата оголошення</th>
                            <th scope="col">Автор</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${post.price}" />
                            <td th:text="${post.created}" />
                            <td th:text="${post.user.login}" />
                            <td th:text="((${post.sale}) ? 'Актуально' : 'Продано')" />
                            <td  />
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <label>Характеристики авто</label>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                            <span>Марка авто: </span>
                            <span th:text="${post.car.brand.name}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Рік випуску: </span>
                                <span th:text="${post.car.year}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Пробіг, км: </span>
                                <span th:text="${post.car.kilometer}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Кузов: </span>
                                <span th:text="${post.car.body.name}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Двигун: </span>
                                <span th:text="${post.car.engine.name}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <a th:if="${post.user.login} == ${user.login} and ${post.sale}" th:href="@{|/sold/${post.id}|}" >
                    <button type="button" class="btn btn-primary">Зняти оголошення з продажу</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>